
# Node.js dependencies
node_modules/
dist/
build/

# Environment variables
.env
logs/
coverage/

.env.* # if you use .env.development, .env.production, etc.

logs/
*.log

.vscode/
.idea/
.DS_Store

swagger-output.json

.vercel

frontend/node_modules/
backend/uploads/
package-lock.json
yarn.lock
.env.local
.env.*.local
